﻿@model Domain.Entities.Candidat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_ShortBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_ShortBio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_LongBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_LongBio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_RegisteredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_RegisteredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Confirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
