﻿@model IEnumerable<Domain.Entities.Candidat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_ShortBio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_LongBio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_RegisteredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Candidat_Confirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_ShortBio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_LongBio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_RegisteredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Candidat_Confirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
