﻿﻿@{
    ViewBag.Title = "Sign-in / Sign-up";
    Layout = "~/Views/Shared/_Login_Register.cshtml";

}
@model WEB.Models.Login_Register_Model
    <div class="wrapper">
        <div class="sign-in-page">
            <div class="signin-popup">
                <div class="signin-pop">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmp-info">
                                <div class="cm-logo">
                                    <img src="@Url.Content("~/Content/")images/cm-logo.png" alt="">
                                    <p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
                                </div><!--cm-logo end-->    
                                <img src="@Url.Content("~/Content/")images/cm-main-img.png" alt="">           
                            </div><!--cmp-info end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="login-sec">
                                <ul class="sign-control">
                                    <li data-tab="tab-1" class="current"><a href="#" title="">Sign in</a></li>              
                                    <li data-tab="tab-2"><a href="#" title="">Sign up</a></li>              
                                </ul>           
                                <div class="sign_in_sec current" id="tab-1">
                                    
                                    <h3>Sign in</h3>
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="text" name="username" placeholder="Username">
                                                    <i class="la la-user"></i>
                                                </div><!--sn-field end-->
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="password" name="password" placeholder="Password">
                                                    <i class="la la-lock"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="checky-sec">
                                                    <div class="fgt-sec">
                                                        <input type="checkbox" name="cc" id="c1">
                                                        <label for="c1">
                                                            <span></span>
                                                        </label>
                                                        <small>Remember me</small>
                                                    </div><!--fgt-sec end-->
                                                    <a href="#" title="">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <button type="submit" value="submit">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="login-resources">
                                        <h4>Login Via Social Account</h4>
                                        <ul>
                                            <li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login Via Facebook</a></li>
                                            <li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login Via Twitter</a></li>
                                        </ul>
                                    </div><!--login-resources end-->
                                </div><!--sign_in_sec end-->
                                <div class="sign_in_sec" id="tab-2">
                                    <div class="signup-tab">
                                       
                                        <ul>
                                            <li data-tab="tab-3" class="current"><a href="#" title="">User</a></li>
                                            <li data-tab="tab-4"><a href="#" title="">Company</a></li>
                                        </ul>
                                    </div><!--signup-tab end--> 
                                    <div class="dff-tab current" id="tab-3">
                                        @using (Html.BeginForm()) {
                                    @Html.AntiForgeryToken()        
                                    <div class="row">
                                        @Html.ValidationSummary(true,"",new {@class= "text-danger"})
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                @Html.EditorFor(model => model.Candidat.Candidat_FullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Candidat.Candidat_FullName, "", new { @class = "text-danger" })
           
                                                <i class="la la-user"></i>
                                                    </div>
                                                </div>
                                               <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">

                                                @Html.EditorFor(model => model.Candidat.Candidat_Email, new { htmlAttributes = new { @class = "form-control" } })
                
                                                @Html.ValidationMessageFor(model => model.Candidat.Candidat_Email, "", new { @class = "text-danger" })
            
                                                <i class="la la-envelope"></i>
                                                    </div>
                                                </div>
                                     
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                      @Html.EnumDropDownListFor(model => model.Candidat.Candidat_Country)  
                                                        <i class="la la-globe"></i>
                                                        
                                                        <span><i class="fa fa-ellipsis-h"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                @Html.EditorFor(model => model.Candidat.Candidat_Password, new { htmlAttributes = new { @class = "form-control" } })
                
                                                @Html.ValidationMessageFor(model => model.Candidat.Candidat_Password, "", new { @class = "text-danger" })
            
                                                <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c2">
                                                            <label for="c2">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>
                                            </div>
                                        }
                                    </div><!--dff-tab end-->
                                    <div class="dff-tab" id="tab-4">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="company-name" placeholder="Company Name">
                                                        <i class="la la-building"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="country" placeholder="Country">
                                                        <i class="la la-globe"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" name="password" placeholder="Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="password" name="repeat-password" placeholder="Repeat Password">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c3">
                                                            <label for="c3">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!--dff-tab end-->
                                </div>      
                            </div><!--login-sec end-->
                        </div>
                    </div>      
                </div><!--signin-pop end-->
            </div><!--signin-popup end-->
            <div class="footy-sec">
                <div class="container">
                    <ul>
                        <li><a href="#" title="">Help Center</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Community Guidelines</a></li>
                        <li><a href="#" title="">Cookies Policy</a></li>
                        <li><a href="#" title="">Career</a></li>
                        <li><a href="#" title="">Forum</a></li>
                        <li><a href="#" title="">Language</a></li>
                        <li><a href="#" title="">Copyright Policy</a></li>
                    </ul>
                    <p><img src="images/copy-icon.png" alt="">Copyright 2018</p>
                </div>
            </div><!--footy-sec end-->
        </div><!--sign-in-page end-->


    </div><!--theme-layout end-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


