﻿@model WEB.Models.Login_Register_Model

@{
    ViewBag.Title = "LoginRegister";
    Layout = "~/Views/Shared/_Login_Register.cshtml";
}





<div class="wrapper">
    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cmp-info">
                            <div class="cm-logo">
                                <img src="@Url.Content("~/Content/")images/cm-logo.png" alt="">
                                <p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
                            </div><!--cm-logo end-->
                            <img src="@Url.Content("~/Content/")images/cm-main-img.png" alt="">
                        </div><!--cmp-info end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="login-sec">
                            <ul class="sign-control">
                                <li data-tab="tab-1" class="current"><a href="#" title="">Sign in</a></li>
                                <li data-tab="tab-2"><a href="#" title="">Sign up</a></li>
                            </ul>
                            <div class="sign_in_sec current" id="tab-1">

                                <h3>Sign in</h3>
                                @using (Html.BeginForm("LoginEntreprise", "Login", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="col-lg-12 no-pdd">

                                        <div class="sn-field">
                                            @Html.EditorFor(model => model.login.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
                                            @Html.ValidationMessageFor(model => model.login.EmailID, "", new { @class = "text-danger" })
                                            <i class="la la-user"></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 no-pdd">
                                        <div class="sn-field">
                                            @Html.EditorFor(model => model.login.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Passowrd" } })
                                            @Html.ValidationMessageFor(model => model.login.Password, "", new { @class = "text-danger" })
                                            <i class="la la-lock"></i>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.login.RemeberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.login.RemeberMe)
                                                @Html.ValidationMessageFor(model => model.login.RemeberMe, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 no-pdd">
                                        <button type="submit" value="submit">Sign in</button>
                                    </div>
                                    if (ViewBag.MessageLogin != null)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Error ! </strong>@ViewBag.MessageLogin
                                        </div>
                                    }

                                }
                                <div class="login-resources">
                                    <h4>Login Via Social Account</h4>
                                    <ul>
                                        <li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login Via Facebook</a></li>
                                        <li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login Via Twitter</a></li>
                                    </ul>
                                </div><!--login-resources end-->
                            </div><!--sign_in_sec end-->
                            <div class="sign_in_sec" id="tab-2">
                                <div class="signup-tab">
                                    <i class="fa fa-long-arrow-left"></i>
                                    <h2>johndoe@example.com</h2>
                                    <ul>
                                        <li data-tab="tab-3" class="current"><a href="#" title="">User</a></li>
                                        <li data-tab="tab-4"><a href="#" title="">Company</a></li>
                                    </ul>
                                </div><!--signup-tab end-->
                                <div class="dff-tab current" id="tab-3">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="text" name="name" placeholder="Full Name">
                                                    <i class="la la-user"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="text" name="country" placeholder="Country">
                                                    <i class="la la-globe"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <select>
                                                        <option>Category</option>
                                                    </select>
                                                    <i class="la la-dropbox"></i>
                                                    <span><i class="fa fa-ellipsis-h"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="password" name="password" placeholder="Password">
                                                    <i class="la la-lock"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="password" name="repeat-password" placeholder="Repeat Password">
                                                    <i class="la la-lock"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="checky-sec st2">
                                                    <div class="fgt-sec">
                                                        <input type="checkbox" name="cc" id="c2">
                                                        <label for="c2">
                                                            <span></span>
                                                        </label>
                                                        <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
                                                    </div><!--fgt-sec end-->
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <button type="submit" value="submit">Get Started</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!--dff-tab end-->
                                <div class="dff-tab" id="tab-4">
                                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                                    {
                                        if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-danger">
                                                <strong>Success  ! </strong>@ViewBag.Message
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("RegistrationEntreprise", "Login", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="row">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        @Html.EditorFor(model => model.entreprise.Entreprise_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entreprise Name" } })
                                                        <i class="la la-building"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.entreprise.Entreprise_Name, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        @Html.EditorFor(model => model.entreprise.Entreprise_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.entreprise.Entreprise_Password, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        @Html.EditorFor(model => model.entreprise.Entreprise_ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.entreprise.Entreprise_ConfirmPassword, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        @Html.EditorFor(model => model.entreprise.Entreprise_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
                                                        <i class="la la-user"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.entreprise.Entreprise_Email, "", new { @class = "text-danger" })
                                                    @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                                </div>



                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>

                                            </div>

                                            if (ViewBag.Message != null)
                                            {
                                                <div class="alert alert-danger">
                                                    <strong>Error ! </strong>@ViewBag.Message
                                                </div>
                                            }
                                        }
                                    }
                                </div><!--dff-tab end-->
                            </div>
                        </div><!--login-sec end-->
                    </div>
                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->
        <div class="footy-sec">
            <div class="container">
                <ul>
                    <li><a href="#" title="">Help Center</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="#" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="images/copy-icon.png" alt="">Copyright 2018</p>
            </div>
        </div><!--footy-sec end-->
    </div><!--sign-in-page end-->


</div><!--theme-layout end-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

