﻿
@{
    ViewBag.Title = "VerifiyAccount";
}

<div class="wrapper">
    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cmp-info">
                            <div class="cm-logo">
                                <img src="@Url.Content("~/Content/")images/cm-logo.png" alt="">
                                <p>Account has benn Verified</p>
                            </div><!--cm-logo end-->
                            <img src="@Url.Content("~/Content/")images/cm-main-img.png" alt="">
                        </div><!--cmp-info end-->
                    </div>

                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->

    </div><!--sign-in-page end-->


</div><!--theme-layout end-->
