﻿@model Domain.Entities.Interview
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3><strong>Are you sure you want to delete this?</strong></h3>
<div>
    <h4>Interview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            model.Interview_Date
        </dt>

        <dd>
             model.Interview_Date
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Object)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Object)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview_Description)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Availibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Availibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectManager_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectManager_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectManager_Availibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectManager_Availibility)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
