﻿<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
         @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/animate.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/style.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")css/responsive.css">
</head>
<body class="sign-in">
    @RenderBody()
    
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Scripts.Render("~/Content/js/jquery.min.js")
@Scripts.Render("~/Content/js/popper.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")
@Scripts.Render("~/Content/lib/slick/slick.min.js")
@Scripts.Render("~/Content/js/script.js")
</body>
</html>