﻿@model Domain.Entities.Validation

@{
    ViewBag.Title = "Create";

}
@*hello*@
<h2>Create</h2>
@using (Html.BeginForm("Create", "Validation", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Validation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Validation_State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Validation_State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Validation_State, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Validation_desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Validation_desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Validation_desc, "", new { @class = "text-danger" })
            </div>
        </div>






        @*<div class="form-group">
                @Html.LabelFor(model => model.ImageUrl2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageUrl2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageUrl2, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*@<div class="editor-label">
                @Html.LabelFor(model => model.ImageUrl2)
            </div>
            <div class="editor-field">
                Upload a file
                @Html.TextBox("file", "", new { type = "file" })

                @Html.ValidationMessageFor(model => model.ImageUrl2)
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Candidat.Candidat_FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Candidat_Id, "Candidat_Id", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Candidat_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Candidat_Id", (SelectList)ViewData["Candidats"])
                @* @Html.ValidationMessageFor(model => model.Candidat_Id, "", new { @class = "text-danger" })*@
                @Html.ValidationMessageFor(model => model.Candidat)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Offre.Offre_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Offre, "Offre_Name", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Offre_Id", (SelectList)ViewData["Offres"])
                @*@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })*@
                @Html.ValidationMessageFor(model => model.Offre)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

