﻿@model Domain.Entities.Validation
@{
                /**/

                ViewBag.Title = "Delete";
}
@*hello2*@
@*hello3*@

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Validation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Validation_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validation_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validateur_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validateur_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validation_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validation_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidat_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidat_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offre_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offre_Id)
        </dd>







    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
