﻿@model  Domain.Entities.Validation
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table">


    <tr>
        <td>
            <div class="user-specs">
                <h3> @Html.DisplayFor(modelItem => Model.Validation_State) </h3>
                <span>Request Response</span>
            </div>
        </td>
        <td>
            <ul class="user-fw-status">
                <li>
                    <h4>About You</h4>
                    <span>

                        @Html.DisplayFor(modelItem => Model.Validation_desc)

                    </span>
                </li>
            </ul>
        </td>
        <td>
            <ul class="user-fw-status">
                <li>
                    <h4>Offer's Name</h4>
                    <span>

                        @Html.DisplayFor(modelItem => Model.Offre.Offre_Name)

                    </span>
                </li>
            </ul>
        </td>




        @*<td>
            @Html.DisplayFor(modelItem => item.ImageUrl2)
        </td>*@
        @*@<td>
            @{string path = "~/Content/Upload/" + @item.ImageUrl2;}

            <img src="@Url.Content(path)" width="50" height="50" />
        </td>*@

        @Html.ActionLink("Back to List", "Index")
    </tr>
     
</table>


